__pycache__/
*.DS_Store
minigraphs.egg-info/
site/
*.out
*.err

# Source directory
src/miniaturize_batch.sh
src/params_batch.sh

# Networks directory
data/networks/**/*
!data/networks/**/

# Data from workflows
workflows/**/data/
workflows/**/dag*.png
workflows/**/logs/
worklows/**/.snakemake/
